VITE_SUPABASE_URL=https://tbfrwnfajrcpimhflmhv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiZnJ3bmZhanJjcGltaGZsbWh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNDU5MDksImV4cCI6MjA5MzYyMTkwOX0.XU-GZgFES7sFHVHc481eZr7KFNdsk57LijQzoGRw5Io
